html, body {
    width: auto;
    height: auto;
}
body{
    background-image: url("/img/join-background.jpg");
    background-size: cover;
;
}
h2{
    font-family: 'Rye', cursive;
    font-size: 40px;
    text-transform: capitalize;
    position:relative;
    text-align: center;
    text-decoration-color: aqua;
}
h3{
    font-family: 'Rye', cursive;
    font-size: 40px;
    text-transform: capitalize;
    position:relative;
    text-align: center;
    top: -30px;
    text-decoration-color: aqua;
}
div.register{
    background-color: rgb(60, 212, 179);
    border-radius: 10px;
    width: 450px;
    height: 800px;
    position:absolute;
    left: 38%;
    bottom: 100px;
    opacity: 50%;

}
div.reg{
    border-radius: 10px;
    width: 450px;
    height: 800px;
    position:absolute;
    left: 38%;
    bottom: 100px;
    box-shadow: 10px 10px 40px 40px rgb(255, 255, 255);
}
input.name{
    position: relative;
    width: 350px;
    height: 30px;
    top: -20px;
    left: 40px;
    border-radius: 5px;
    font-size: 20px;
}
input.surname{
    position: relative;
    width: 350px;
    height: 30px;
    top: -10px;
    left: 40px;
    border-radius: 5px;
    font-size: 20px;
}
input.fiscal_code{
    position: relative;
    width: 350px;
    height: 30px;
    top: 0px;
    left: 40px;
    border-radius: 5px;
    font-size: 20px;
}
input.email{
    position: relative;
    width: 350px;
    height: 30px;
    top: 10px;
    left: 40px;
    border-radius: 5px;
    font-size: 20px;
}
input.state{
    position: relative;
    width: 350px;
    top: -50px;
    left: 40px;
    border-radius: 5px;
    font-size:20px;

}
input.city{
    position: relative;
    width: 237px;
    top: -40px;
    left: 40px;
    border-radius: 5px;
    font-size:20px;

}
input.cap{
    position: relative;
    width: 100px;
    top: -40px;
    left: 40px;
    border-radius: 5px;
    font-size:20px;

}
input.civic_number{
    position: relative;
    width: 58px;
    top: -30px;
    left: 40px;
    border-radius: 5px;
    font-size:20px;

}
input.street{
    position: relative;
    width: 280px;
    top: -30px;
    left: 40px;
    border-radius: 5px;
    font-size:20px;

}
.deadline{
    position: relative;
    width: 350px;
    height: 35px;
    top: -50px;
    left: 40px;
    font-size: 20px;
}
.terms{
    font-family: 'Rye',cursive;
    position: relative;
    font-size: 24px;
    bottom: 20px;
    left: 10px;
}
.eula{
    position: relative;
    bottom: 20px;
    left: 10px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 350px;
    height: 30px;
    top: 0px;
    left: 40px;
    position: relative;
}

.lback{
    background-image: url("/img/login.png");
    background-position: center;
    background-size: cover;
}