
body{ margin:0; 
font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas{ display: block;  
} 
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
  background-color:white;
  background-image: url("https://encompower.com/img/background.jpg");
  background-repeat: no-repeat; 
  background-size:cover; 
  background-position: center; 
}
.header{
  background-color: lightgray;
  text-align: center;
  border: 5px;
  border-radius: 30px;
  border-color: gray;
  padding: 15px;
  position:absolute;
  width: 100%;
  height: 10%;
  box-shadow: 2px 2px  5px black;
}
h1{
  font-family: 'Rye', cursive;
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-shadow: 0px 2px 5px yellow;
  text-shadow: 2px 2px violet;
  position:fixed;
  top: -2%;
  left: 20%;
}
.logo{
  width: 10%;
  height: 10%;
  position:fixed;
  top: 1%;
  left: 5%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}